.note-edit-form
  = form_tag '#', method: :put, class: 'edit-note common-note-form js-quick-submit' do
    = hidden_field_tag :target_id, '', class: 'js-form-target-id'
    = hidden_field_tag :target_type, '', class: 'js-form-target-type'
    = render layout: 'projects/md_preview', locals: { preview_class: 'md-preview', referenced_users: true } do
      = render 'projects/zen', attr: 'note[note]', classes: 'note-textarea js-note-text js-task-list-field', placeholder: "撰写评论或拖放文件到此处..."
      = render 'projects/notes/hints'

    .note-form-actions.clearfix
      .settings-message.note-edit-warning.js-edit-warning
        请先完成此消息的编辑！
      = submit_tag '保存评论', class: 'btn btn-nr btn-save js-comment-button'
      %button.btn.btn-nr.btn-cancel.note-edit-cancel{ type: 'button' }
        取消
