- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }
  .admin-dashboard.prepend-top-default
    .row
      .col-md-4
        %h4 统计
        %hr
        %p
          派生项目数
          %span.light.pull-right
            = number_with_delimiter(ForkedProjectLink.count)
        %p
          问题数
          %span.light.pull-right
            = number_with_delimiter(Issue.count)
        %p
          合并请求数
          %span.light.pull-right
            = number_with_delimiter(MergeRequest.count)
        %p
          批注数
          %span.light.pull-right
            = number_with_delimiter(Note.count)
        %p
          代码片段数
          %span.light.pull-right
            = number_with_delimiter(Snippet.count)
        %p
          SSH 密钥数
          %span.light.pull-right
            = number_with_delimiter(Key.count)
        %p
          里程碑数
          %span.light.pull-right
            = number_with_delimiter(Milestone.count)
        %p
          激活用户数
          %span.light.pull-right
            = number_with_delimiter(User.active.count)
      .col-md-4
        %h4
          特性
        %hr
        - sign_up = "注册"
        %p{ "aria-label" => "#{sign_up}: status " + (signup_enabled? ? "on" : "off") }
          = sign_up
          %span.light.pull-right
            = boolean_to_icon signup_enabled?
        - ldap = "LDAP"
        %p{ "aria-label" => "#{ldap}: status " + (Gitlab.config.ldap.enabled ? "on" : "off") }
          = ldap
          %span.light.pull-right
            = boolean_to_icon Gitlab.config.ldap.enabled
        - gravatar = "头像"
        %p{ "aria-label" => "#{gravatar}: status " + (gravatar_enabled? ? "on" : "off") }
          = gravatar
          %span.light.pull-right
            = boolean_to_icon gravatar_enabled?
        - omniauth = "OmniAuth"
        %p{ "aria-label" => "#{omniauth}: status " + (Gitlab.config.omniauth.enabled ? "on" : "off") }
          = omniauth
          %span.light.pull-right
            = boolean_to_icon Gitlab.config.omniauth.enabled
        - reply_email = "邮件回复"
        %p{ "aria-label" => "#{reply_email}: status " + (Gitlab::IncomingEmail.enabled? ? "on" : "off") }
          = reply_email
          %span.light.pull-right
            = boolean_to_icon Gitlab::IncomingEmail.enabled?
        - container_reg = "容器注册表"
        %p{ "aria-label" => "#{container_reg}: status " + (Gitlab.config.registry.enabled ? "on" : "off") }
          = container_reg
          %span.light.pull-right
            = boolean_to_icon Gitlab.config.registry.enabled

      .col-md-4
        %h4
          组件
          - if current_application_settings.version_check_enabled
            .pull-right
              = version_status_badge

        %hr
        %p
          GitLab
          %span.pull-right
            = Gitlab::VERSION
        %p
          GitLab Shell
          %span.pull-right
            = Gitlab::Shell.new.version
        %p
          GitLab Workhorse
          %span.pull-right
            = gitlab_workhorse_version
        %p
          GitLab API
          %span.pull-right
            = API::API::version
        %p
          Git
          %span.pull-right
            = Gitlab::Git.version
        %p
          Ruby
          %span.pull-right
            #{RUBY_VERSION}p#{RUBY_PATCHLEVEL}

        %p
          Rails
          %span.pull-right
            #{Rails::VERSION::STRING}

        %p
          = Gitlab::Database.adapter_name
          %span.pull-right
            = Gitlab::Database.version
    %hr
    .row
      .col-sm-4
        .light-well.well-centered
          %h4 项目
          .data
            = link_to admin_projects_path do
              %h1= number_with_delimiter(Project.cached_count)
            %hr
            = link_to('新建项目', new_project_path, class: "btn btn-new")
      .col-sm-4
        .light-well.well-centered
          %h4 用户
          .data
            = link_to admin_users_path do
              %h1= number_with_delimiter(User.count)
            %hr
            = link_to '新建用户', new_admin_user_path, class: "btn btn-new"
      .col-sm-4
        .light-well.well-centered
          %h4 群组
          .data
            = link_to admin_groups_path do
              %h1= number_with_delimiter(Group.count)
            %hr
            = link_to '新建群组', new_admin_group_path, class: "btn btn-new"

    .row.prepend-top-10
      .col-md-4
        %h4 最近创建的项目
        %hr
        - @projects.each do |project|
          %p
            = link_to project.name_with_namespace, [:admin, project.namespace.becomes(Namespace), project], class: 'str-truncated-60'
            %span.light.pull-right
              #{time_ago_with_tooltip(project.created_at)}

      .col-md-4
        %h4 最近注册的用户
        %hr
        - @users.each do |user|
          %p
            = link_to [:admin, user], class: 'str-truncated-60' do
              = user.name
            %span.light.pull-right
              #{time_ago_with_tooltip(user.created_at)}

      .col-md-4
        %h4 最近创建的群组
        %hr
        - @groups.each do |group|
          %p
            = link_to [:admin, group], class: 'str-truncated-60' do
              = group.full_name
            %span.light.pull-right
              #{time_ago_with_tooltip(group.created_at)}
