- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('stl_viewer')

.file-content.is-stl-loading
  .text-center#js-stl-viewer{ data: { endpoint: namespace_project_raw_path(@project.namespace, @project, @id) } }
    = icon('spinner spin 2x', class: 'prepend-top-default append-bottom-default', 'aria-hidden' => 'true', 'aria-label' => 'Loading')
  .text-center.prepend-top-default.append-bottom-default.stl-controls
    .btn-group
      %button.btn.btn-default.btn-sm.js-material-changer{ data: { type: 'wireframe' } }
        线框
      %button.btn.btn-default.btn-sm.active.js-material-changer{ data: { type: 'default' } }
        填充
