- commit_message = @page.persisted? ? "更新 #{@page.title}" : "创建 #{@page.title}"

= form_for [@project.namespace.becomes(Namespace), @project, @page], method: @page.persisted? ? :put : :post, html: { class: 'form-horizontal wiki-form common-note-form prepend-top-default js-quick-submit' } do |f|
  = form_errors(@page)

  = f.hidden_field :title, value: @page.title
  .form-group
    = f.label :format, '格式', class: 'control-label'
    .col-sm-10
      = f.select :format, options_for_select(ProjectWiki::MARKUPS, {selected: @page.format}), {}, class: "form-control"

  .form-group
    = f.label :content, '内容', class: 'control-label'
    .col-sm-10
      = render layout: 'projects/md_preview', locals: { preview_class: "md-preview" } do
        = render 'projects/zen', f: f, attr: :content, classes: 'note-textarea', placeholder: '撰写内容或拖放文件到此处...'
        = render 'projects/notes/hints'

      .clearfix
      .error-alert

      .help-block
        = succeed '。' do
          链接到（新）页面只需要输入
          %code [链接标题](page-slug)

        = succeed '。' do
          更多示例位于
          = link_to 'Markdown 文档', help_page_path("user/markdown", anchor: "wiki-specific-markdown")

  .form-group
    = f.label :commit_message, '提交信息', class: 'control-label'
    .col-sm-10= f.text_field :message, class: 'form-control', rows: 18, value: commit_message

  .form-actions
    - if @page && @page.persisted?
      = f.submit '保存修改', class: "btn-save btn"
      .pull-right
        = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, @page), class: "btn btn-cancel btn-grouped"
    - else
      = f.submit '创建页面', class: "btn-create btn"
      .pull-right
        = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, :home), class: "btn btn-cancel"
