.tabs-holder
  %ul.pipelines-tabs.nav-links.no-top.no-bottom
    %li.js-pipeline-tab-link
      = link_to namespace_project_pipeline_path(@project.namespace, @project, @pipeline), data: { target: 'div#js-tab-pipeline', action: 'pipelines', toggle: 'tab' },  class: 'pipeline-tab' do
        流水线
    %li.js-builds-tab-link
      = link_to builds_namespace_project_pipeline_path(@project.namespace, @project, @pipeline), data: {target: 'div#js-tab-builds', action: 'builds', toggle: 'tab' }, class: 'builds-tab' do
        作业
        %span.badge.js-builds-counter= pipeline.statuses.count



.tab-content
  #js-tab-pipeline.tab-pane
    .build-content.middle-block.js-pipeline-graph
      = render "projects/pipelines/graph", pipeline: pipeline

  #js-tab-builds.tab-pane
    - if pipeline.yaml_errors.present?
      .bs-callout.bs-callout-danger
        %h4 在您的 .gitlab-ci.yml 文件中发现以下错误:
        %ul
          - pipeline.yaml_errors.split(",").each do |error|
            %li= error
        您可以通过 #{link_to "Lint", ci_lint_path} 工具对 .gitlab-ci.yml 文件进行检测

    - if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
      .bs-callout.bs-callout-warning
        未在本次提交中找到 .gitlab-ci.yml 文件

    .table-holder.pipeline-holder
      %table.table.ci-table.pipeline
        %thead
          %tr
            %th 状态
            %th 作业 ID
            %th 名称
            %th
              %th 覆盖率
            %th
        = render partial: "projects/stage/stage", collection: pipeline.stages, as: :stage
